:root {
    --fuente-principal: "Lalezar", sans-serif;
  }
  /*
  var(--fuente-principal)
  */
  
  
  body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--fuente-principal);
    color: white;
  }
  
  h1 {
    font-family: var(--fuente-principal);
    font-size: 75px;
    font-weight: 400;
    color: green;
  }
  
  .roboto-variable {
    font-family: var(--fuente-principal);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  

/*=============Editar aquí=============*/
.container-principal{
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}